<!DOCTYPE html>
<html lang="es">

<head>
    <title>Bibliotecas</title>

    <% include ../partials/head %>

</head>

<body>

    


    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Catálogo de libros</h1>
            </div>
        </div>
         <div class="container-fluid"  style="margin: 40px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/checklist.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido al catálogo, selecciona una categoría de la lista para empezar, si deseas buscar un libro por nombre o título has click en el icono &nbsp; <i class="zmdi zmdi-search"></i> &nbsp; que se encuentra en la barra superior
                </div>
            </div>
        </div>
        <div class="container-fluid">
            
            <%- libros %>

        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>
    </div>
</body>

<% include ../partials/script %>

</html>