<!DOCTYPE html>
<html lang="es">

<head>
    <title>Prestamos</title>

    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/navbar-lateral %>


    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles">Préstamos y reservaciones</h1>
            </div>
        </div>
        <div class="conteiner-fluid">
            <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                <li class="active"><a>Todos los préstamos</a></li>
                <li><a href="loanpending">Devoluciones pendientes</a></li>
                <li><a href="loanreservation">Reservaciones</a></li>
            </ul>
        </div>
        <div class="container-fluid"  style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/calendar_book.png" alt="calendar" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                        Bienvenido a esta sección, aquí se muestran todos los préstamos de libros realizados hasta la fecha y que ya se entregaron satisfactoriamente
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de prestamos</h2>

            <%- loans %>

        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>
    </div>
</body>

<% include ../partials/script %>

</html>