<!DOCTYPE html>
<html lang="es">

<head>
    <title>Registrar Autor</title>

    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/navbar-lateral %>

    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Añadir autor</h1>
            </div>
        </div>
        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/user.png" alt="pdf" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Bienvenido a la sección para agregar nuevos autores al registro de la biblioteca, deberás llenar los dos campos para poder registrar
                    el autor.
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <form autocomplete="off">
                <div class="container-flat-form">
                    <div class="title-flat-form title-flat-blue">Nuevo libro</div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <legend>
                                <strong>Información básica</strong>
                            </legend>
                            <br>
                            <div class="group-material">
                                <input type="text" class="tooltips-general material-control" id="input-agregar-autor-id" required placeholder="Escribe aquí el código correlativo del autor" pattern="[0-9]{1,20}"
                                    maxlength="20" data-toggle="tooltip" data-placement="top" title="Escribe el código correlativo del autor, solamente números">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Código</label>
                            </div>
                            <div class="group-material">
                                <input type="text" id="input-agregar-autor-nombre" required class="material-control tooltips-general" placeholder="Escribe aquí el nombre del autor"
                                    maxlength="70" data-toggle="tooltip" data-placement="top" title="Lugar de publicación">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Nombre</label>
                            </div>
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;">
                                    <i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button type="submit" class="btn btn-primary btn-agregar-autor">
                                    <i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>

    </div>
</body>

<% include ../partials/script %>

</html>