<!DOCTYPE html>
<html lang="es">

<head>
    <title>Estantes - Categorías</title>

    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/navbar-lateral %>


    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Estantes - Categorias</h1>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li role="presentation">
                    <a href="institution">Bibliotecas</a>
                </li>
                <li role="presentation">
                    <a href="saloon">Salas</a>
                </li>
                <li role="presentation">
                    <a href="category">Categorías</a>
                </li>
                <li role="presentation">
                    <a href="shelf">Estantes</a>
                </li>
                <li role="presentation" class="active">
                    <a>Estantes - Categorias</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/section.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                   Bienvenido a la sección de agregar estante - categoria, aquí puedes añadir nuevos estante - categoria a la base de datos.
                    Puedes ver los estantes - categoria que ya tienes en el botón <strong>Estantes - categorias</strong>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li><a href="shelf-category">Estantes - categorias</a></li>
                      <li class="active">Nuevo estante - categoria</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container-flat-form">
                <div class="title-flat-form title-flat-blue">Agregar un nuevo estante - categoría</div>
                <form autocomplete="off">
                    <div class="row">
                       <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                            <div class="group-material">
                                <input type="text" class="material-control tooltips-general" id="input-agregar-estante-categoria-id" placeholder="Escribe aquí el código de categoría"  required="" pattern="[0-9]{1,20}" maxlength="20" data-toggle="tooltip" data-placement="top" title="Solo números, máximo 20 caracteres">
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Código de estante - categoría</label>
                            </div>
                            <div class="group-material">
                                <span>Estante</span>
                                <select class="tooltips-general material-control" id="input-agregar-estante-categoria-estante" data-toggle="tooltip" data-placement="top" title="Elige el estante">
                                    <option value="0" disabled="" selected="">Seleccione un estante</option>
                                    <%- estante %>
                                </select>
                            </div>
                            <div class="group-material">
                                <span>Categoria</span>
                                <select class="tooltips-general material-control" id="input-agregar-estante-categoria-categoria" data-toggle="tooltip" data-placement="top" title="Elige la categoria">
                                    <option value="0" disabled="" selected="">Seleccione una categoria</option>
                                    <%- categoria %>
                                </select>
                            </div>
                            <p class="text-center">
                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                <button type="submit" class="btn btn-primary btn-agregar-estante-categoria"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                            </p> 
                       </div>
                    </div>
                </form>
            </div>
        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>
    </div>
</body>

<% include ../partials/script %>

</html>