<!DOCTYPE html>
<html lang="es">

<head>
    <title>404 - Not Found</title>

    <% include ../partials/head %>
    
    <link rel="stylesheet" href="css/footer.css">

</head>

<body>

    <% include ../partials/navbar-lateral %>

    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Error 404</h1>
            </div>
        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>


    </div>
</body>

<% include ../partials/script %>

</html>