<!DOCTYPE html>
<html lang="es">

<head>
    <title>Salas</title>

    <% include ../partials/head %>

</head>

<body>

    <% include ../partials/navbar-lateral %>


    <div class="content-page-container full-reset custom-scroll-containers">

        <% include ../partials/nav %>

        <div class="container">
            <div class="page-header">
                <h1 class="all-tittles">Salas</h1>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
                <li role="presentation">
                    <a href="institution">Bibliotecas</a>
                </li>
                <li role="presentation" class="active">
                    <a>Salas</a>
                </li>
                <li role="presentation">
                    <a href="category">Categorías</a>
                </li>
                <li role="presentation">
                    <a href="section">Estantes</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid" style="margin: 50px 0;">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <img src="assets/img/institution.png" alt="user" class="img-responsive center-box" style="max-width: 110px;">
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                    Aquí puedes ver las salas que tienes registradas. Puedes añadir nuevas salas en el botón <strong>Nueva sala</strong>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 lead">
                    <ol class="breadcrumb">
                      <li class="active">Salas</li>
                      <li><a href="newsaloon">Nueva sala</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <h2 class="text-center all-tittles">Listado de Salas</h2>
            
            <%- salas %>
        </div>

        <% include ../partials/modalhelp %>

        <% include ../partials/footer %>
    </div>
</body>

<% include ../partials/script %>

</html>